@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Zar';
}
@font-face {
  font-family: 'Zar';
  src: url('../../public/fonts/Iranian\ Sans.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
